{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Mon Blog!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
		.blog-posts {
			margin-top: 30px;
		}
		.blog-post {
			margin-bottom: 20px;
			padding: 15px;
			background-color: #fff;
			border-radius: 8px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		.about-me {
			margin-top: 40px;
			padding: 20px;
			background-color: #fff;
			border-radius: 8px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
	</style>

	<body class="bg-dark bg-gradient">
		<div class="example-wrapper text-center bg-light bg-gradient">
			<h1>Bienvenue dans mon Blog personnel</h1>
			<hr>
			<div class="welcome-message">
				<p class="fs-6">Bonjour et bienvenue sur mon blog! Ici, je partage mes pensées, mes expériences et mes projets. J'espère que vous trouverez quelque chose d'intéressant et d'inspirant.</p>
			</div>
			<hr>

			<div class="blog-posts">
				<h2 class="pb-2">📚 - Derniers Articles - 📚</h2>
				<hr>
				<div class="blog-post">
					<h1 class="fs-5">Consultez les catégories !</h1>
					<a class="btn btn-dark my-2" href="{{ path('app_category')}}">Parcourir les catégories</a>
				</div>
				<div class="blog-post">
					<h1 class="fs-5">Consultez les posts !</h1>
					<a class="btn btn-dark my-2" href="{{ path('post_list')}}">Parcourir les posts</a>
				</div>
			</div>

			<div class="about-me">
				<h2>⚔️ - À propos de moi - ⚔️</h2>
				<hr>
				<p class="fs-6">Je suis un développeur passionné par la technologie et l'innovation. J'aime partager mes connaissances et apprendre de nouvelles choses chaque jour.</p>
			</div>
		</div>
	</body>
{% endblock %}
